*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#maincontainer {
    width: 200px;
    height: 200px;
    background-color: azure;
    border: 1px solid;
}

.loginError{
    display: none;
    width: 100%;
    color: red;
}